html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
button:focus {
  outline: 0 none;
}
.button {
  background: #b6c4d0;
  border: 0 none;
  padding: 10px 15px;
}
.link {
  color: #fa7268;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-top: 19px solid #fa7268;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  padding: 0 10px;
}
@media (min-width: 600px) {
  .container {
    padding: 0 15px;
  }
}
.description {
  max-width: 480px;
  font-size: 16px;
}
footer {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
  margin-top: auto;
  font-size: 14px;
}
.brad {
  position: absolute;
  height: auto;
  width: 40vw;
  margin-left: 15vw;
  opacity: 0;
  transform: scale(0);
  transition: all 200ms ease-in-out;
}
.trigger {
  transition: all 200ms ease-in-out;
}
.trigger:hover {
  color: #fa7268;
  cursor: default;
}
.trigger:hover + .brad {
  opacity: 1;
  transform: scale(1.1);
  pointer-events: none;
}
.trigger:hover + .top {
  transform: scale(1.1) translate3d(-100%, -101%, 0);
  pointer-events: none;
  width: 20vw;
}

/* List: */
.date-row {
  padding: 0 10px;
  border: 2px solid #b6c4d0;
  border-bottom-width: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.date-row:last-child {
  border-bottom-width: 2px;
}
.row {
  display: flex;
  align-items: center;
}
.date-row .number {
  color: #b6c4d0;
  font-size: 14px;
  margin-right: 5px;
}
.date-row .highlight {
  color: #fa7268;
}
.date-row .date {
  font-size: 10px;
  line-height: 1.8;
  font-weight: bold;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.date-row .relative {
  font-weight: normal;
  font-size: 10px;
}
.date-row .route {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  margin-right: 10px;
}
.date-row .distance {
  margin-right: 10px;
  font-size: 11px;
  line-height: 1.5;
  text-align: right;
}
.date-row .komoot {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #b6c4d0;
  transition: transform 200ms ease-in;
  background-color: transparent;
  padding: 5px;
}
.date-row .komoot:hover {
  transform: scale(1.2);
  border-color: #fa7268;
}
.date-row .komoot svg {
  fill: #b6c4d0;
  transition: all 200ms ease-in;
  display: block;
  width: 100%;
  height: auto;
}
.date-row .komoot:hover svg {
  transform: translateY(-1px);
  fill: #fa7268;
}
@media (min-width: 600px) {
  .date-row {
    padding: 0 25px;
  }
  .date-row .number {
    font-size: 24px;
    margin-right: 25px;
  }
  .date-row .date {
    font-size: 14px;
    margin-right: 45px;
  }
  .date-row .relative {
    font-size: 12px;
  }
  .date-row .route {
    font-size: 17px;
  }
  .date-row .distance {
    margin-right: 30px;
    font-size: 16px;
  }
  .date-row .komoot {
    width: 40px;
    height: 40px;
  }
}

/* Modal: */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  padding: 5px 5px 5px;
  background-color: white;
  border: 19px solid #fa7268;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 600px) {
  .modal {
    padding: 50px 30px 20px;
    border: 19px solid #fa7268;
  }
}
